body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}
h1 {
  font-size: 5rem;
  color:darkgray;
}
footer {
  text-align: right;
  color:lightsteelblue;
}
.logo{
  height:50px;
  width:500px;
}
.tile-image{
  height: 200px;
  float: left;
  margin-right: 40px;
}
.card{
  width:45%;
}
.left {
  float: left;
}

.right {
  float: right;
}
.creative {
  color:white;
}
.card-title{
  color:white;
}
div p{
  color:white;
}
@media (max-width: 680px) {
  .logo {
    height:25px;
  width:250px;
  }
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }
  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
